#add-cart{
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
    cursor: pointer;
}
#add-cart:hover{
    background-color: #000 !important;
    color: #fff;
    
}
#add-cart:hover svg{
    stroke: #fff !important;
}
#add-cart-2:hover{
    background-color: #000 !important;
    color: #fff;
}
#add-cart-2:hover svg{
    stroke: #fff !important;
}

#card-pr:hover #add-cart{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-170%);
}
#read-more{
    transition: all 0.3s;
}
#read-more:hover{
    background-color: #000 !important;
    color: #fff;
}
#ip-search:focus{
    outline: none;
    border-color: #157347;
    box-shadow: none;
}
#ip-none-shadow{
    outline: none;
    box-shadow: none;
    border-color: green;
}
#banner-product{
    background-image: url('../public/static/images/banner-list-product.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner-contact{
    background-image: url('../public/static/images/banner-contact.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner-about{
    background-image: url('../public/static/images/about.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner-product-detail{
    background-image: url('../public/static/images/banner-product-detail.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner-order-detail{
    background-image: url('../public/static/images/banner-product-detail.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
.cloud-bn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    padding-top: 52px;
    background-color: #fff;
    background-clip: content-box;
}
.cloud-bn::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 105px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/static/images/cloud.png");

}
.bg-pink{
    background-color: #e91e63;
}
.bg-pink:hover{
    background-color: #d3094cfb;
}
#side-bar-ad:hover{
    background-color: rgba(0, 0, 0, 0.205);
}
.gr-img{
    position: relative;
    height:400px;
}
.fileupload{
    position: absolute;
    opacity:0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.imageView{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid rgb(199, 198, 198);
    border-radius: 15px;
}